<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetozoonoses">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoZoonoses">
        <activity
            android:name=".Teste_agendamento"
            android:exported="false" />
        <activity
            android:name=".detalhe_usuario"
            android:exported="false" />
        <activity
            android:name=".Detalhe_Animal"
            android:exported="false" />
        <activity
            android:name=".CastracaoUsuario"
            android:exported="false" />
        <activity
            android:name=".ColaboreUsuario"
            android:exported="false" />
        <activity
            android:name=".SobreNosUsuario"
            android:exported="false" />
        <activity
            android:name=".AdoteUsuario"
            android:exported="false" />
        <activity
            android:name=".CadastroAdministrador"
            android:exported="false" />
        <activity
            android:name=".AgendeAdministrador"
            android:exported="false" />
        <activity
            android:name=".AdoteAdministrador"
            android:exported="false" />
        <activity
            android:name=".telaPrincipalUsuario"
            android:exported="false" />
        <activity
            android:name=".telaPrincipalAministrador"
            android:exported="false" />
        <activity
            android:name=".FormCadastro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FormLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>